<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container-xl">
    <div style="background-color: red;">
      test navbar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores laudantium iste laborum voluptatibus velit optio minus libero. Illum, perspiciatis excepturi ipsam numquam, facere iure dignissimos eligendi ea rerum iste corrupti. 
    </div>
  </div>

  <div class="container-xl">
    <div class="row justify-content-end">
      <div class="col-lg-5">
        <div class="redsquare">
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-12">  
        <h1 class="offer-cont__title">
          ТРЕНИРОВКИ
        </h1>
      </div>

      <div class="col-lg-5">
        <div class="offer-cont__desc">
          <div class="offer-cont__cont">
            <h2 class="offer-cont__subtitle">СПОРТЗАЛ</h2>
            <p class="offer-cont__text">
              Удобное расположение в центре города БАЛАШОВ 
              и тренировки для детей и взрослых с индивидуальным 
              подходом для реализации поставленных целей и задач. 
            </p>
          </div>
          <div class="offer-cont__cont">
            <h2 class="offer-cont__subtitle">ОНЛАИН</h2>
            <p class="offer-cont__text">
              Персональные занятия с тренером на любой, 
              удобной для вас площадке: DISCORD, SKYPE, WHATSAPP и т.п
            </p>
          </div>
        </div>
      </div>
      

      <div class="col-lg-6">
        <div class="offer-cont__photo">
          <div class="row">
              <div class="col-8">
                <img class="fit" src="image/img1.png" alt="img5">
              </div>
              <div class="col-4 offer-cont__subphoto-right"> 
                  <img class="fit" src="image/img2.png" alt="img6">
                  <img class="fit" src="image/img3.png" alt="img6">
              </div>
          </div>
        </div>
      </div>    

      <div class="col-lg-5">
        <div class="offer-cont__button">
         <div class="rectangle">
           Посмотреть программу
         </div>
         <div class="square">
           <img src="image/arrow-down.svg" alt="dots icon">
         </div>
        </div>
       </div>

    </div>
  </div>

</body>
</html>