body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
    font-size: 14px;
    background-color: #1E1E1E;
    letter-spacing: 0.05em;
	line-height: 1.7em;

}

h1, h2, h3, h4, h5, h6 {
	font-style: bold;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.offer-cont__title{
    font-size: 64px;
}
@media screen and (min-width: 100px) and (max-width: 499px) {
    .offer-cont__title {
        font-size: 40px;
    }
}

.offer-cont__subphoto-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.offer-cont__subtitle{  
    color: #DD3333;
    margin: 0px 0 10px 0;
}
.offer-cont__text{
    font-size: 14px;
    padding-top: 0px;
}

.offer-cont__desc{
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
}

.offer-cont__desc-down{
    padding-top: 20px;
}


.fit{
    width: 100%;
}
.offer-cont__button{
    display: flex;
    flex-wrap: nowrap;
    color: #fff;
}

.redsquare{
    background-color: #DD3333;
    height: 100vh;
    width: 54vh;
    position: absolute;
    z-index: -1;
}
@media screen and (min-width: 991px) and (max-width: 1599px) {
    .redsquare {
        height: 80vh;
        width: 50vh;
    }
}

.square{
    height: 43px;
    width: 43px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    display: flex;
}

.rectangle{
    background-color: #DD3333;
    flex-grow: 1;
    display: flex;
    font-weight: 400;
	font-size: 14px;
    letter-spacing: 0.105em;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
@media screen and (min-width: 100px) and (max-width: 299px) {
    .rectangle {
        font-size: 10px;
    }
}

.offer-workout__title{
    display: flex;
    flex-wrap: nowrap;
    text-transform: uppercase;
    font-size: 64px;
    margin: 50vh 0px 0px 0px;
}

.offer-workout__main-title{

}

.offer-workout__second-title{
    font-size: 24px;
    align-self: baseline;
    color: #DD3333;
}

.offer-workout__photo{
    display: flex;
    flex-wrap: nowrap;
}

.offer-workout__photo-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-workout__photo-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fit1{
    height: 100%;
}

.offer-workout__subtitle{
    text-transform: uppercase;
}

.offer-workout__desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.offer-workout__text{
    padding-top: 20px;
}

.offer-workout__desc-down{
    padding-top: 20px;
}


/*блок колонок*/

.first-screen-title{
    padding-top: 10vh;
}
.first-screen-cont{
    padding-top: 2vh;
}
.first-screen-button{
    padding-top: 5vh;
}
.workout-screen-title{

}
.workout-screen-first-cont{

}