@using TrueMuromez.ViewModels
@model TrainingViewModel
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model.Trainings)
{
    <div style="padding-left:70px; padding-right:70px">
        <div class="row " style="background-color:white;">
            <div class="col position-static" style="padding-top:30px; padding-left:50px;">
                <h3>@item.Name</h3>
                <p class="mb-auto">@item.Description</p>
                <p class="mb-auto">@item.Price</p>
                <br />
                <br />
                <a href="#" style="border-style:groove; border-color:red; border-width:4px; color:black">Узнать больше</a>
            </div>
        </div>
    </div>
    <br />
    <br />
}

